.navbar {
    display: flex;
    background-color: salmon !important;
    color: crimson !important;
    
}

.small {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;

}

.perfil {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.wrapper{
    width:90%;
    margin-top: 30px;
}
.medium{
    width:80px;
    height:80px;
}
.perfil-post{
    margin:0;
    align-items: center;
    justify-content: flex-start;
    width:min-content;
    

}
.Posting{
    margin-top: 30px ;
    
}